/* logo */

.navbar .logo {
    position: absolute;
    top: -2px;
    left: 11.2%;

    box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.3);
}

.navbar .logo a img {
    width: 100px;
    height: 100px;
}


.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    width: 100%;
}

.top-navbar {
    display: flex;
    align-items: center;

    height: 45px;
    width: 100%;

    background-color: #1E5691;
}

.top-navbar .nav {
    display: flex;

    position: absolute;
    right: 10%;

    align-items: center;
    gap: 45px;
}

.top-navbar .nav a {
    font-size: 0.9em;
    font-weight: 400;

    color: white;
    text-decoration: none;
}

.top-navbar .nav a:hover {
    text-decoration: underline;
}

.top-navbar .nav a:active {
    text-decoration: none;
    color: #242424;
}


.low-navbar {
    display: flex;
    align-items: center;

    height: 70px;
    width: 100%;

    background-color: #ffffff;
}

.low-navbar .nav {
    display: flex;

    position: absolute;
    left: 20%;
    gap: 15px;

    align-items: center;
}

.low-navbar .nav a {
    font-size: 0.9em;
    font-weight: 400;

    color: #242424;
    text-decoration: none;

    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

.low-navbar .nav .animation {
    position: absolute;
    height: 100%;
    height: 2px;
    bottom: -10px;
    z-index: 0;
    background: #1E5691;
    border-radius: 8px;
    transition: all .5s ease 0s;
}

.low-navbar .nav a:nth-child(1) {
    width: 100px;
}

.low-navbar .nav .start-home,
a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0;
}

.low-navbar .nav a:nth-child(2) {
    width: 110px;
}

.low-navbar a:nth-child(2):hover~.animation {
    width: 110px;
    left: 115px;
}

.low-navbar .nav a:nth-child(3) {
    width: 100px;
}

.low-navbar .nav a:nth-child(3):hover~.animation {
    width: 70px;
    left: 254px;
}

.low-navbar .nav a:nth-child(4) {
    width: 100px;
}

.low-navbar .nav a:nth-child(4):hover~.animation {
    width: 135px;
    left: 345px;
}